.vidFormatting
{
    position: relative;
    height: 500px;
    width: 100%;
    margin: 0;
    line-height: 1;
    overflow: clip;
    object-fit: cover;
    border: none;
    touch-action: manipulation;
}

.textFormatting
{
    font-family: "Din Next LT Pro", sans-serif;
    position: relative;
    text-align: center;  
}

.textMargin
{
    margin-right: 450px;
    margin-left: 450px;
    border: solid white;
}

.element1
{
    font-size: 18px;
    margin-block: 30px;
}

.element2
{
    bottom: 620px;
    background: white;
    margin: 0px 550px;
}