html { 
    overflow-y: scroll; 
}

.header {
    position: fixed;
    width: 100% !important;
    height: 109.41px;
    margin-top: 0px;
    top: 0;
    left: 0;
    z-index: 2;
    border: 2px black dotted;
    background-color: #FFFFFF;
}

.sticky {
    position: sticky;
    top: 0px;
} 

.sectionHeader {
    width: 1440px;
    height: 109.41px;
    
}

.element-conteiner1 {
    display: grid;
    grid-template-columns: 213.41px 1036.3px 179.13px;
    grid-template-rows: 105px;
    }

.column1 {
    
}

.logo {
    position: relative;
    left: 60px;
    top: 25px;
}

.column2 {

}

.wrapColumn2 {
    width: 1016.3;
    height: 30px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.navMenu {
    
}

.widgetConteiner {
    position: relative;
    top: 10px;
}

.Menu {
    
    
}

.navBar {
    font-family: "Din Next LT Pro", Sans-serif;
    font-size: 15px;
    line-height: 20px;
    vertical-align: baseline;
    letter-spacing: normal;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-align: left;
    display: inline; 
    position: relative;
    left: 210px;
   

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
        float: left;
    }
    
    li a {
        color: #111;
        text-align: center;
        padding: 10px 14px;
        text-decoration: none;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}

li a {
    color: #111;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    color: #91d511;
}


.column3 {


}

.navBar2 {
    font-family: "Din Next LT Pro", Sans-serif;
    font-size: 15px;
    line-height: 20px;
    vertical-align: baseline;
    letter-spacing: normal;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-align: left;
    display: inline; 
    position: relative;
    top: 35px;
    left:30px;
    
}

body {
    position: absolute;
    margin: 0px;
    background-color: white;
}

/* .section1 {
    position: absolute;
    width: 1440px;
    height: 415px;
    margin-top: 109.41;
    border: 2px black dotted;
    display: block;
} */


.section1 {
    position: relative;
    background: pink;
    top: 109.41px;
    width: 100%;
    height: 415px;
    border: 2px black dotted;
}


.section2 {
    position: relative;
    background: blue;
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

.section3 {
    position: relative;
    background: green;
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

.section4 {
    position: relative;
    background: yellow;
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

.section5 {
    position: relative;
    background: orange;
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

.section6 {
    position: relative;
    background: rgb(180, 32, 190);
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

.section7 {
    position: relative;
    background: rgb(101, 117, 29);
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

.section8 {
    position: relative;
    background: rgb(16, 126, 132);
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

.section9 {
    position: relative;
    background: rgb(205, 140, 11);
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

.section10 {
    position: relative;
    background: rgb(31, 152, 22);
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}


.section11 {
    position: relative;
    background: rgb(134, 107, 13);
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

.section12 {
    position: relative;
    background: rgb(233, 241, 176);
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

