html { 
    overflow-y: scroll; 
}

.header {
    position: fixed;
    width: 100% !important;
    height: 109.41px;
    margin-top: 0px;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #FFFFFF;
}

.sticky {
    position: sticky;
    top: 0px;
} 

.sectionHeader {
    width: 1440px;
    height: 109.41px;
    
}

.element-conteiner1 {
    display: grid;
    grid-template-columns: 213.41px 1036.3px 179.13px;
    grid-template-rows: 105px;
    }

.column1 {
    
}

.logo {
    position: relative;
    left: 60px;
    top: 25px;
}

.column2 {

}

.wrapColumn2 {
    width: 1016.3;
    height: 30px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.navMenu {
    
}

.widgetConteiner {
    position: relative;
    top: 10px;
}

.Menu {
    
    
}

.navBar {
    font-family: "Din Next LT Pro", Sans-serif;
    font-size: 15px;
    line-height: 20px;
    vertical-align: baseline;
    letter-spacing: normal;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-align: left;
    display: inline; 
    position: relative;
    left: 210px;


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
        float: left;
    }
    
    li a {
        color: #111;
        text-align: center;
        padding: 10px 14px;
        text-decoration: none;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}

li a {
    color: #111;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    color: #91d511;
}


.column3 {


}

.navBar2 {
    font-family: "Din Next LT Pro", Sans-serif;
    font-size: 15px;
    line-height: 20px;
    vertical-align: baseline;
    letter-spacing: normal;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-align: left;
    display: inline; 
    position: relative;
    top: 35px;
    left:30px;
    
}

body {
    position: absolute;
    margin: 0px;
    background-color: white;
}

/* .section1 {
    position: absolute;
    width: 1440px;
    height: 415px;
    margin-top: 109.41;
    border: 2px black dotted;
    display: block;
} */


.section1 {
    position: relative;
    top: 109.41px;
    width: 100%;
    height: 415px;
}

.conteinerMain1 {
    position: relative;
    left: 400px;
    bottom: 25px;
    width: 50%;
    height: 315;
}

.paragraph {
    font-family: "Din Next LT Pro", sans-serif;
    font-size: 38px;
    line-height: 45px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: 800px;
    text-align: start;
    color: #020101;
}



.section2 {
    position: relative;
    width: 1440px;
    height: 448px;
}

.containerMain2 {
    position: relative;
    width: 916px;
    height: 468px;
    left: 300px;
    bottom: 0px;
}

.picture1 {
    position: absolute;
    right: 518px;
    width: 418px;
    height: 418px;
    bottom: 0px;
    top: 30px;
}

.textMain1 {
    position: relative;
    color: rgb(2, 1, 1);
    bottom: 0px;
    top: 48px;
    left: 439px;
    font-weight: 200;
    font-family: "Din Next LT Pro", sans-serif;
    font-size: 20px;
    line-height: 32.4px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
}

.textMain2 {
    position: relative;
    color: rgb(2, 1, 1);
    bottom: 0px;
    top: 48px;
    left: 439px;
    font-weight: 200;
    font-family: "Din Next Pro Italic", sans-serif;
    font-size: 20px;
    line-height: 32.4px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
}

.buttonMain1 {
    position: relative;
    left: 440px;
    top: 50px;
    background-color: rgb(222, 219, 219);
    color: white;
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(94, 93, 93);
    border-image: initial;
}

.learnMore {
    font-family: "Din Next LT Pro", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 15px;
}


.section3 {
    position: relative;
    width: 1440px;
    height: 448px;
    top: 109.41;
}

.picture2 {
    position: absolute;
    right: 280px;
    width: 418px;
    height: 418px;
    bottom: 0px;
    top: 30px;
}

.textMain3 {
    position: relative;
    color: rgb(2, 1, 1);
    bottom: 0px;
    top: 48px;
    left: 280px;
    font-weight: 200;
    font-family: "Din Next LT Pro", sans-serif;
    font-size: 24px;
    line-height: 32.4px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
}

.textMain3-1 {
    position: relative;
    color: rgb(2, 1, 1);
    bottom: 0px;
    top: 48px;
    left: 280px;
    font-weight: 200;
    font-family: "Din Next Pro Italic", sans-serif;
    font-size: 20px;
    line-height: 32.4px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
}

.buttonMain2 {
    position: relative;
    left: 280px;
    top: 50px;
    background-color: rgb(222, 219, 219);
    color: white;
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(94, 93, 93);
    border-image: initial;
}

.section4 {
    position: relative;
    width: 1440px;
    height: 448px;
    top: 109.41;
}



.picture3 {
    position: absolute;
    right: 280px;
    width: 418px;
    height: 418px;
    bottom: 0px;
    top: 30px;
}

.textMain4 {
    position: relative;
    color: rgb(2, 1, 1);
    bottom: 0px;
    top: 48px;
    left: 280px;
    font-weight: 200;
    font-family: "Din Next LT Pro", sans-serif;
    font-size: 24px;
    line-height: 32.4px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
}

.textMain4-1 {
    position: relative;
    color: rgb(2, 1, 1);
    bottom: 0px;
    top: 48px;
    left: 280px;
    font-weight: 200;
    font-family: "Din Next Pro Italic", sans-serif;
    font-size: 20px;
    line-height: 32.4px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
}

.buttonMain3 {
    position: relative;
    left: 280px;
    top: 50px;
    background-color: rgb(222, 219, 219);
    color: white;
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(94, 93, 93);
    border-image: initial;
}

.section5 {
    position: relative;
    width: 1440px;
    height: 448px;
    top: 109.41;
}

.picture4 {
    position: absolute;
    right: 750px;
    width: 418px;
    height: 418px;
    bottom: 0px;
    top: 30px;
}

.textMain5 {
    position: relative;
    color: rgb(2, 1, 1);
    bottom: 0px;
    top: 48px;
    left: 740px;
    font-weight: 200;
    font-family: "Din Next LT Pro", sans-serif;
    font-size: 20px;
    line-height: 32.4px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
}

.textMain5-1 {
    position: relative;
    color: rgb(2, 1, 1);
    bottom: 0px;
    top: 48px;
    left: 740px;
    font-weight: 200;
    font-family: "Din Next LT Pro", sans-serif;
    font-size: 20px;
    line-height: 32.4px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
}

.buttonMain5 {
    position: relative;
    left: 740px;
    top: 50px;
    background-color: rgb(222, 219, 219);
    color: white;
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(94, 93, 93);
    border-image: initial;
}

.section6 {
    position: relative;
    width: 1440px;
    height: 448px;
    top: 109.41;
}

.picture5 {
    position: absolute;
    right: 280px;
    width: 418px;
    height: 418px;
    bottom: 0px;
    top: 30px;
}

.textMain6 {
    position: relative;
    color: rgb(2, 1, 1);
    bottom: 0px;
    top: 48px;
    left: 280px;
    font-weight: 200;
    font-family: "Din Next LT Pro", sans-serif;
    font-size: 24px;
    line-height: 32.4px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
}

.textMain6-1 {
    position: relative;
    color: rgb(2, 1, 1);
    bottom: 0px;
    top: 48px;
    left: 280px;
    font-weight: 200;
    font-family: "Din Next Pro Italic", sans-serif;
    font-size: 20px;
    line-height: 32.4px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
}

.buttonMain6 {
    position: relative;
    left: 280px;
    top: 50px;
    background-color: rgb(222, 219, 219);
    color: white;
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(94, 93, 93);
    border-image: initial;
}

.section7 {
    position: relative;
    background: rgb(101, 117, 29);
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

.section8 {
    position: relative;
    background: rgb(16, 126, 132);
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

.section9 {
    position: relative;
    background: rgb(205, 140, 11);
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

.section10 {
    position: relative;
    background: rgb(31, 152, 22);
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}


.section11 {
    position: relative;
    background: rgb(134, 107, 13);
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

.section12 {
    position: relative;
    background: rgb(233, 241, 176);
    width: 1440px;
    height: 448px;
    top: 109.41;
    border: 2px black dotted;
}

